apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deployment.name }}
  namespace: {{ .Values.namespace }}
  labels:
    App: {{ .Values.deployment.name }}
  annotations:
    {{- toYaml .Values.deployment.annotations | nindent 4 }}

spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      App: {{ .Values.deployment.name }}
  template:
    metadata:
      labels:
        App: {{ .Values.deployment.name }}
        force-recreate: {{ randAlphaNum 5 | quote }}
    spec:
      serviceAccountName: {{ include "atm-layer-mil-authenticator.serviceAccountName" . }}
      volumes:
      {{- if .Values.secretProviderClass.enabled }}
      - name: secrets-store-inline
        csi:
          driver: secrets-store.csi.k8s.io
          readOnly: true 
          volumeAttributes:
            secretProviderClass: {{ .Values.secretProviderClass.name }}
      {{- end }}
      containers:
        - name: {{ .Values.deployment.name }}
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          ports:
            - containerPort: {{ .Values.service.port }}
          imagePullPolicy: Always
          env:
            - name: MIL_AUTHENTICATOR_ENVIRONMENT
              value: "{{ .Values.milAuthenticator.environment }}"
            - name: MIL_AUTHENTICATOR_EXECUTION_MODE
              value: "{{ .Values.milAuthenticator.executionMode }}"
            - name: MIL_AUTHENTICATOR_LOG_LEVEL
              value: "{{ .Values.milAuthenticator.logLevel }}"
            - name: MIL_AUTHENTICATOR_APPLICATION_BASE_PATH
              value: "{{ .Values.milAuthenticator.applicationBasePath }}"
            - name: MIL_AUTHENTICATOR_SWAGGER_PATH
              value: "{{ .Values.milAuthenticator.swaggerPath }}"
            - name: MIL_AUTHENTICATOR_HEALTH_PATH
              value: "{{ .Values.milAuthenticator.healthPath }}"
            - name: MIL_AUTHENTICATOR_OPENAPI_PATH
              value: "{{ .Values.milAuthenticator.openapiPath }}"
            - name: MIL_AUTHENTICATOR_AUTH_CLIENT_CREDENTIALS
              value: "{{ .Values.milAuth.clientCredentials }}"
            - name: MIL_BASE_PATH
              value: "{{ .Values.milBasePath }}"
            - name: TRACING_ENABLED
              value: "{{ .Values.tracing.enabled }}"
            - name: TRACING_ENDPOINT_BASE_PATH
              value: "{{ .Values.tracing.endpointBasePath }}"
            - name: TRACING_ENABLE_JDBC_MONITORING
              value: "{{ .Values.tracing.enableJDBCMonitoring }}"
            - name: REDIS_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.redis.credentialsSecretName }}
                  key: {{ .Values.redis.credentialsSecretKeys.host }}
            - name: REDIS_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.redis.credentialsSecretName }}
                  key: {{ .Values.redis.credentialsSecretKeys.port }}
            - name: MIL_AUTHENTICATOR_MIL_AUTH_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.milAuth.credentialsSecretName }}
                  key: {{ .Values.milAuth.credentialsSecretKeys.clientId }}
            - name: MIL_AUTHENTICATOR_MIL_AUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.milAuth.credentialsSecretName }}
                  key: {{ .Values.milAuth.credentialsSecretKeys.clientSecret }}
          volumeMounts:
          {{- if .Values.secretProviderClass.enabled }}
          - name: secrets-store-inline
            mountPath: "/mnt/secrets-store"
            readOnly: true
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
  strategy:
    type: Recreate